<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/index.js" defer></script>
  <title>Task Tracker</title>
</head>

<body>
  <nav>
    <div class="left-menu">
      <div id="menu">
        <image src="/images/menu.png" class="icon-large"></image>
      </div >
      <a href="/boards">
        <image src="/images/home.png" class="icon-large"></image>
      </a>
    </div>
    <div class="right-menu">
      <% if (!user) { %>
        <a href="/auth/google" class="login">
          <image src="https://i.imgur.com/FHjYyi0.png" class="icon-medium"></image>SIGN IN GOGGLE
        </a>
        <% } %>
       <% if (user) { %>
        <form action="/auth/logout" method="POST" id="logout-form">
          <button id="logout-button" type="submit">LOGOUT</button>
        </form>
            <form action="/users/<%=user._id%>/edit" method="GET">
              <button type="submit">
                <% if (user.avatar) { %>
                  <image src='<%=user.avatar%>' class="icon-large icon-avatar" />
                <% } %>LOGGED IN AS (<%=user.name.toUpperCase()%>)
              </button>
              <% } %>
            </form>  
    </div>
  </nav>
  <main>