<%- include('./partials/header') %>

  <div class="page">
    <div class="form-container" width="200px">
    </div>
    <%- include('./boards/emptyboard') %>
  </div>

  <%- include('./partials/footer') %>