<%- include('./partials/header') %>

  <div class="page">
    <div class="form-container">
      <%- include('./newuserform') %>
    </div>
    <%- include('./emptyboard') %>
  </div>

  <%- include('./partials/footer') %>