* {
  box-sizing: border-box;
  font-family: Helvetica;
}

.board{
  width: 80vw;
  height: 60vh;
  background-color: rgb(0, 0, 71);
  border-radius: 10px;
  box-shadow: inset 0 0 8px rgb(40, 40, 40);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 20px;
}

.board>.board-title{
  grid-area: 1 / 1 / 2 / 5;
}

.board>.board-container{
  grid-area: 2 / 1 / 3 / 5 ; 
}

.board>.add-list-button{
  grid-area: 3 / 4 / 4 / 5 ; 
}

.list {
  display: grid;
  grid-template-columns: 15px 200px 15px;
  grid-template-rows: 15px 30px 1fr 50px 15px;
}

.list>.list-title{
  grid-area: 1 / 2 / 3 / 3;
}

.list>.list-container {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list>.add-card-button{
  grid-area: 4 / 2 / 5 / 3;
}

.list>.edit-button{
  grid-area: 1 / 3 / 2 / 4;
}

.list>.delete-button{
  grid-area: 5 / 1 / 6 / 2;
}

.card {
  display: grid;
  grid-template-columns: 15px 60px 60px 60px 15px;
  grid-template-rows: 15px 40px 40px 15px;
}

.card>.title{
  grid-area: 2 / 2 / 3 / 4;
}

.card>.due-date{
  grid-area: 2 / 4 / 3 / 5;
}

.card>.edit-button{
  grid-area: 1 / 5 / 2 / 6;
}

.card>.delete-button{
  grid-area: 4 / 1 / 5 / 2;
}

.card>.users{
  grid-area: 3 / 3/ 4 / 5;
}

#list1{
  grid-area: 2 / 1 / 3 / 2;
}

#list2{
  grid-area: 2 / 2 / 3 / 3;
}

#list3{
  grid-area: 2 / 3 / 3 / 4;
}

#list4{
  grid-area: 2 / 4 / 3 / 5;
}

input:invalid {
  background: rgb(255, 188, 188);
  border: rgb(255, 73, 73) solid 3px;
} 

input:valid {
  background: rgb(213, 255, 213);
  border: rgb(130, 255, 130) solid 3px;
}

input {
  border-radius: 5px;
}

*[title] {
  /* Set the title attribute to an empty string */
  title: "";
}