:root {
  --small-icon-size: 15px;
  --medium-icon-size: 20px;
  --large-icon-size: 30px;
  --small-icon-size-offset: 20px;
  --medium-icon-size-offset: 40px;
  --logo-icon-size: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
  color: black;
  font-size: 0.8rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}

/* .login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
} */

a {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}

#logout-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logout-button {
  display: flex;
  text-decoration: none;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
	padding: 1px 6px;
	outline: none;
	box-shadow:none;
	border-radius: none;
}


.page {
  width: 150vw;
  height: 150vh;
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh;
}

#label-for-box{
  padding: 0 10px;
}

#label-table {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 0.8rem;
  border: gray solid 2px;
}

.form-container {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 157vh;
}

.board:has(#jumbotron-div){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

#jumbotron-div{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


#logo-text {
  left: 64px;
  top: -3px;
  padding-top: 25px;
  font-size: 3.5rem;
  font-weight: 600;
  color:rgb(255, 255, 220);
  position: absolute;
  display: flex;
  width: 400px;
}

.form {
  width: 100%;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10px;
  color: black;
  font-size: 0.8rem;
}

.form>.form-title{
  align-self: flex-start;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: inherit;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: inherit;
  font-weight: 600;
}

input,select,textarea {
  min-width: 180px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: inherit;
  padding: 3px;
}

textarea {
  resize: none;
}

input:invalid,textarea:invalid {
  background: rgb(150, 150, 150);
  border: rgb(255, 73, 73) solid 3px;
} 

input:valid,textarea:valid {
  background: rgb(150, 150, 150);
  border: rgb(130, 255, 130) solid 3px;
}

button:not(:has([class^='icon'])) {
  background:#19bf00;
  border-radius: 3px;
  border: none;
  box-shadow: 3px 3px 6px -1px rgb(40, 40, 40);
}

button:has([class^='icon']) {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

form:has(.icon) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon{
  width: var(--small-icon-size);
  height: var(--small-icon-size);
}

.icon-medium{
  width: var(--medium-icon-size);
  height: var(--medium-icon-size);
}

.icon-avatar{
  clip-path: circle(50% at 50% 50%);
  margin-right: 10px;
}

.icon-large{
  width: var(--large-icon-size);
  height: var(--large-icon-size);
}

.icon-logo{
  width: var(--logo-icon-size);
  height: var(--logo-icon-size);
}

.board{
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(119, 0, 230);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
  padding: 10px 0 20px 0;
  width: auto;
  height: auto;
}

.board>.board-title{
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(53, 61, 68);
  justify-self: flex-start;
  align-self: center;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.edit-board-button *{
  width: var(--small-icon-size);
  height: var(--small-icon-size);
}

.edit-board-button{
  margin-left: 5px;
  width: var(--small-icon-size);
  height: var(--small-icon-size);
}


.home-button *{
margin-right: 10px;
}

.board>.board-container{
  grid-area: 2 / 1 / 3 / 2 ; 
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgb(119, 0, 230);
  overflow: auto;
  resize: vertical;
  width: auto;
  height: 150vh;
}

.add-list-button{
  grid-area: 1 / 1 / 2 / 2 ;
  justify-self: flex-start;
  margin-left: 300px;
}

.list {
  width: 180px;
  height: auto;
  min-width: 200px;
  min-height: 400px;
  max-height: 600px;
  display: grid;
  grid-template-columns: var(--medium-icon-size-offset) 1fr var(--medium-icon-size-offset);
  grid-template-rows: var(--medium-icon-size) 1fr 30px var(--medium-icon-size-offset);
  background:rgb(255, 255, 255);
  border-radius: 10px 30px 0px 30px;
  box-shadow: 10px 10px 5px -5px #313131;
  margin: 10px;
  align-content: center;
  justify-content: center;
  overflow: auto;
  resize: both;
}

.list>.list-title{
  grid-area: 1 / 1 / 2 / 4;
  color: darkslategrey;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;
  justify-self: center;
}

.list>.list-container {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  overflow: auto;
}

.add-card-button{
  grid-area: 3 / 1 / 4 / 4;
  justify-self: center;
  align-self: center;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(228, 228, 228);
  border-radius: 3px;
}

.edit-list-button{
  grid-area: 4 / 3 / 5 / 4;
  margin-right: 10px;
}

.delete-list-button{
  grid-area: 4 / 1 / 5 / 2;
}

.card {
  display: grid;
  align-self: stretch;
  min-height: 100px;
  min-width: 180px;
  height: fit-content;
  grid-template-columns: var(--small-icon-size-offset) 1fr 1fr 1fr var(--small-icon-size-offset) ;
  grid-template-rows: var(--small-icon-size-offset) 1fr 1fr var(--small-icon-size-offset);
  background-color: rgb(255, 255, 220);
  box-shadow: 3px 3px 8px -1px #8C8C8C;
  border-radius: 10px 20px 0px 20px;
  color: black;
  font-size: 0.7rem;
  margin: 5px;
  overflow: hidden;
  resize: both;
}

.card>.card-title{
  grid-area: 2 / 1 / 4 / 6;
  color: inherit;
  padding: 4px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

details {
  width: 100%;
  height: 100%;
}

summary {
  font-size: 1rem;
  text-align: center;
}

zero-md {
  width: 95%;
  height: 90%;
  /* max-height: 300px; */
  overflow: auto;
  scrollbar-width: thin;
  font-size: 1% !important;
  margin: 0 auto;
}

.card>.due-date{
  grid-area: 4 / 1 / 5 / 6 ;
  color: inherit;
  font-size: 0.6rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: min(10px, 50%);
  background-color: rgb(229, 255, 0);
}

.edit-card-button{
  grid-area: 4 / 4 / 5 / 6;
  justify-self: flex-end;
  margin-right: 10px;
}

.delete-card-button{
  grid-area: 4 / 1 / 5 / 3;
  justify-self: flex-start;
  margin-left: 5px;
}

.card>.users{
  grid-area: 1 / 1 / 2 / 6;
  justify-self: flex-start;
  align-self: center;
  font-size: 0.6rem;
  margin-left: 10px;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: min(10px, 50%);
  background-color: rgb(47, 234, 0);
  font-weight: 600;
}

.card .labels-container{
  grid-area: 1 / 1 / 2 / 6;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
}

.card .labels{
  font-size: 0.6rem;
  margin-right: 5px;
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: min(10px, 50%);
  background-color: rgb(247, 157, 255);
  font-weight: 600;
}

.labels{
  font-size: 0.8rem;
  padding: 5px;
  margin: 2px;
  border-radius: min(10px, 50%);
  background-color: rgb(247, 157, 255);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

*[title] {
  /* Set the title attribute to an empty string */
  title: "";
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #454545;
}

::-webkit-scrollbar-thumb {
  background-color: #07C0FF;
  border-radius: 5px;
}

::-webkit-resizer {
  border-width: 8px;
  border-style: solid;
  border-color: transparent rgba(255, 125, 125, 0.7) rgba(255, 125, 125,0.7) transparent;
}




