:root {
  --small-icon-size: 15px;
  --medium-icon-size: 20px;
  --large-icon-size: 25px;
  --small-icon-size-offset: 20px;
  --medium-icon-size-offset: 40px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
  color: black;
  font-size: 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh;
}

#label-table {
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 0.8rem;
  margin-left: 20px;
}

.form {
  width: 100%;
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;
  color: black;
  font-size: 0.8rem;
}

.form>.form-title{
  align-self: flex-start;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: inherit;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: inherit;
}

input,select {
  margin-bottom: 10px;
  border-radius: 5px;
  color: inherit;
  padding: 3px;
}

input:invalid {
  background: rgb(150, 150, 150);
  border: rgb(255, 73, 73) solid 3px;
} 

input:valid {
  background: rgb(150, 150, 150);
  border: rgb(130, 255, 130) solid 3px;
}

button{
  background:#19bf00;
  border-radius: 3px;
  border: none;
  box-shadow: 3px 3px 6px -1px rgb(40, 40, 40);
  padding: 5px;
  /* margin-top: 20px; */
}

.board{
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(119, 0, 230);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 1fr;
  padding: 10px 0 20px 0;
}

.board>.board-title{
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(53, 61, 68);
  justify-self: flex-start;
  align-self: center;
  margin-left: 65px;
}

.board>.board-container{
  grid-area: 2 / 1 / 3 / 2 ; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(119, 0, 230);
}

.add-list-button{
  grid-area: 1 / 1 / 2 / 2 ;
  justify-self: flex-start;
}

.list {
  width: 220px;
  height: 400px;
  display: grid;
  grid-template-columns: var(--medium-icon-size-offset) 1fr var(--medium-icon-size-offset);
  grid-template-rows: var(--medium-icon-size) 1fr 30px var(--medium-icon-size-offset);
  background:rgb(255, 255, 255);
  border-radius: 30px 10px 30px 10px;
  box-shadow: 10px 10px 5px -5px #313131;
  margin: 10px;
  align-content: center;
  justify-content: center;
}

.list>.list-title{
  grid-area: 1 / 1 / 2 / 4;
  color: darkslategrey;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  justify-self: center;
}

.list>.list-container {
  grid-area: 2 / 1 / 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  overflow-y: auto;
}

.add-card-button{
  grid-area: 3 / 1 / 4 / 4;
  width: 90%;
  justify-self: center;
  align-self: center;
  background: rgb(228, 228, 228);
  border-radius: 3px;
}

.edit-list-button{
  grid-area: 4 / 3 / 5 / 4;
}

.delete-list-button{
  grid-area: 4 / 1 / 5 / 2;
}

.card {
  display: grid;
  width: 95%;
  height: 24%;
  grid-template-columns: var(--small-icon-size-offset) 1fr 1fr 1fr var(--small-icon-size-offset) ;
  grid-template-rows: var(--small-icon-size-offset) 1fr 1fr var(--small-icon-size-offset);
  background-color: rgb(255, 255, 220);
  box-shadow: 3px 3px 8px -1px #8C8C8C;
  border-radius: 10px 5px 10px 5px;
  color: black;
  font-size: 0.7rem;
  margin: 5px;
}

.card>.card-title{
  grid-area: 2 / 1 / 4 / 6;
  color: inherit;
  padding: 4px;
  font-size: 0.7rem;
  justify-self: stretch;
  align-self: flex-start;
  text-align: center;
}

.card>.due-date{
  grid-area: 4 / 1 / 5 / 6 ;
  color: inherit;
  font-size: 0.6rem;
  font-weight: 600;
  justify-self: center;
  align-self: center;
  margin-left: 10px;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: min(10px, 50%);
  background-color: rgb(229, 255, 0);
}

.edit-card-button{
  grid-area: 4 / 5 / 5 / 6;
}

.delete-card-button{
  grid-area: 4 / 1 / 5 / 2;
}

.card>.users{
  grid-area: 1 / 1 / 2 / 6;
  justify-self: flex-start;
  align-self: center;
  font-size: 0.6rem;
  margin-left: 10px;
  margin-right: 5px;
  padding: 2px 5px;
  border-radius: min(10px, 50%);
  background-color: rgb(47, 234, 0);
  font-weight: 600;
}

.card .labels-container{
  grid-area: 1 / 1 / 2 / 6;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  flex-direction: row-reverse;
}

.card .labels{
  font-size: 0.6rem;
  margin-right: 5px;
  margin-left: 10px;
  padding: 2px 5px;
  border-radius: min(10px, 50%);
  background-color: rgb(247, 157, 255);
  font-weight: 600;
}

table .labels{
  font-size: 0.8rem;
  padding: 5px;
  border-radius: min(10px, 50%);
  background-color: rgb(247, 157, 255);
  font-weight: 600;
}



:is(button):has(*){
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: none;
  border-radius: none;
  box-shadow: none;
  padding: none;
  margin-top: none;
}



.icon{
  width: var(--small-icon-size);
  height: var(--small-icon-size);
}

.icon-medium{
  width: var(--medium-icon-size);
  height: var(--medium-icon-size);
}

.icon-large{
  width: var(--large-icon-size);
  height: var(--large-icon-size);
}

*[title] {
  /* Set the title attribute to an empty string */
  title: "";
}