<div class="board">
    <div class="board-title">
      <%=board.title%>
      <form action="/boards/<%=board._id%>/edit" method="GET" class="icon-medium">
      <button class="icon-medium"><image src="/images/edit.png" class="icon-medium"></image></button></form>
</div>
    <div class="board-container">
      <% board.lists.forEach((list, listIndex)=>{ %>
        <%- include('./list', {list, listIndex}) %>
      <% }) %>
    </div>
    <form action="/boards/<%=board._id%>/lists/new" method="GET" class="add-list-button">
      <button>
        <image src="/images/plus.png" class="icon-large"></image>
      </button>
    </form>
  </div>