<%- include('../partials/header') %>

  <div class="page">
    <div class="form-container">
      <%- include('./editboardform') %>
    </div>
    <%- include('./board') %>
  </div>

  <%- include('../partials/footer') %>