<form class="form" id="new-list" action="/boards/<%=boardId%>/lists/<%=listId%>/cards" method="POST">
  <div class="form-title">New Card</div>
  <label for="">Card Title</label>
  <input type="text" name="title" id="form-title" required title="Task description is required"/>
  <button type="submit">Ok</button>
</form>