<form class="form" id="new-list" action="/boards/<%=boardId%>/lists" method="POST">
  <div class="form-title">New List</div>
  <label for="">List Title</label>
  <input type="text" name="title" id="form-title" required title="List name is required"/>
  <button type="submit">Ok</button>
</form>