<form class="form" id="new-user" action="/users" method="POST">
  <div class="form-title">Sign Up New User</div>
  <label for="">Name</label>
  <input type="text" name="name" id="form-title" required title="Name is required"/>
  <label for="">Email</label>
  <input type="email" name="email" id="form-email" required title="Email must be valid" match:/^[^\s@]+@[^\s@]+\.[^\s@]+$/ />
  <label for="">Password</label>
  <input type="text" name="password" id="form-password" required title="Password must be at least 8 characters" />
  <button type="submit">Ok</button>
</form>